<div class="new-office">
<h1>Do you have a space or a cowork to rent?</h1>
<%= simple_form_for @office do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.button :submit %>
<% end %>
</div>
