
<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path 'office2.png' %>');">
  <h2 class="h2a">
    <p><span id="banner-typed-text"></span></p>
  </h2>
  <div class="row-bookings">
    <% @bookings.each do |booking| %>
      <div class="container-fluid">
        <div class="card">
          <h5 class="card-title"><%= booking.office.name %></h5>
          <%= cl_image_tag booking.office.photo.key %>
          <p>Start Date:<strong><%= booking.start_date %></strong></p>
          <p>End Date:<strong><%= booking.end_date %></strong></p>
          <p><strong><%= booking.category %></strong></p>
          <!--  <a href="#" class="btn btn-flat">Edit</a> -->
          <div class="btn btn-flat">
           <%= link_to "Edit", edit_office_booking_path(booking.office.id, booking) %>
           </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
