
<div class="container" style="margin-top: 180px";>
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Book <%= @office.name %></h1>
        <p></p>

        <%= simple_form_for [@office, @booking],:url => office_bookings_path, :method => :POST do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :category, :collection => %w[Visit Rent] %>
          <%= f.button :submit %>
        <% end %>
        <!-- <%= current_user %> -->
        <!-- <%= user_signed_in? %> -->
    </div>
  </div>
</div>



 <!-- t.datetime "start_date"
    t.datetime "end_date"
    t.bigint "office_id", null: false
t.string "category"
t.bigint "user_id"
-->
