<!DOCTYPE html>
<html>
  <head>
    <title>Birou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if action_name == 'home' && controller_name == 'pages' || action_name == 'index' && controller_name == 'offices' %>
      <%= yield %>
    <% elsif action_name == 'index' && controller_name == 'offices' %>
      <%= yield %>
    <% else %>
      <div class="navbar-container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6" >
            <%= yield %>
          </div>
        </div>
      </div>
    <% end %>
    <%= render 'shared/footer' %>

  </body>
</html>
